@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.app-register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #171f88;
}

.register-container {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 2rem;
  height: auto;
  text-align: center;
  width: 500px;

  .title {
    font-size: 2rem;
    color: #171f88;
    font-weight: bold;
  }
  .sub-title {
    font-size: 0.8rem;
    padding: 0 0 1.5rem 0rem;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      border: none;
      outline: nome;
      padding: 0.8rem;
      border-bottom: 1px solid #a8a8a8;
      background-color: #f5f5f5;

      &::placeholder {
        color: #c5c5c5;
      }
    }
    button {
      padding: 1rem;
      border: none;
      background-color: #171f88;
      color: #f5f5f5;
      font-size: 1rem;
      border-radius: 0.8rem;
      cursor: pointer;

      &:hover {
        animation: 5s ease-in linear infinite;
        color: #a1b3bc;
        background-color: #171f88;
      }
    }
  }
  p {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #171f88;
  }
}
